altgraph==0.17
astroid==2.4.2
bcrypt==3.1.7
beautifulsoup4==4.9.1
blurhash==1.1.4
boost==0.1
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
chromedriver==2.24.1
click==7.1.1
clippy==0.0.1
cmake==3.17.3
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
dlib==19.20.0
dnspython==1.16.0
emoji==0.5.4
env==0.1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.4.1
html5lib==1.0.1
idna==2.9
imageio==2.8.0
imutils==0.5.3
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.1
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
macholib==1.14
mariadb==0.9.54
MarkupSafe==1.1.1
Mastodon.py==1.5.1
matplotlib==3.1.3
mccabe==0.6.1
mechanize==0.4.5
modulegraph==0.18
mysql-connector-python==8.0.19
mysqlclient==1.4.6
networkx==2.4
nltk==3.4.5
numpy==1.18.1
oauthlib==3.1.0
opencv-python==4.2.0.32
pandas==1.0.1
Pillow==7.0.0
pipenv==2018.11.26
protobuf==3.6.1
py2app==0.13
pycparser==2.20
pylint==2.5.3
PyMySQL==0.9.3
pyparsing==2.4.6
pyperclip==1.8.0
PySocks==1.7.1
python-dateutil==2.8.1
python-magic==0.4.15
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
scikit-image==0.16.2
scikit-multilearn==0.2.0
scipy==1.4.1
selenium==3.141.0
six==1.14.0
soupsieve==2.0.1
SQLAlchemy==1.3.15
stop-words==2018.7.23
textblob==0.15.3
toml==0.10.1
tweepy==3.8.0
typed-ast==1.4.1
urllib3==1.25.8
virtualenv==16.7.9
virtualenv-clone==0.5.3
webencodings==0.5.1
Werkzeug==1.0.0
wrapt==1.12.1
